# Group-based device access controls
KERNEL=="gpiochip0", OWNER:="root", GROUP:="gpio"
KERNEL=="sram_mmap0", OWNER:="root", GROUP:="sram_mmap"
KERNEL=="sram_mmap1", OWNER:="root", GROUP:="sram_mmap"
KERNEL=="sram_mmap2", OWNER:="root", GROUP:="sram_mmap"
KERNEL=="tee0", OWNER:="root", GROUP:="tee"
KERNEL=="mtdblock3", OWNER:="root", GROUP:="bootcfg"
KERNEL=="mtd*", OWNER:="root", GROUP:="disk"
KERNEL=="mmcblk0p2", OWNER:="root", GROUP:="bootcfg"
KERNEL=="mmcblk1p2", OWNER:="root", GROUP:="bootcfg"
KERNEL=="i2c-[0-9]*", OWNER:="root", GROUP:="i2c"
KERNEL=="spidev*.*", OWNER:="root", GROUP:="spidev"
SUBSYSTEM=="ptp", OWNER:="root", GROUP:="ptp"
SUBSYSTEM=="pps", OWNER:="root", GROUP:="ptp"
DEVPATH=="/devices/platform/*uio-adrv906x*/*", OWNER:="root", GROUP:="adi-oru-uio"
DEVPATH=="/devices/platform/2b300000.adrv906x_net/net/eth*", RUN+="/bin/chown :ptp /sys$devpath/adrv906x_eth_cdr_div_out_enable", RUN+="/bin/chmod 664 /sys$devpath/adrv906x_eth_cdr_div_out_enable"
