# Copyright 2020 - 2023 Analog Devices Inc.
# Released under MIT licence

[Unit]
Description=ADI platform heartbeat service.

[Service]
ExecStart=heartbeat.sh
Type=simple

[Install]
WantedBy=multi-user.target

